<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS_Oscill.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS_Oscill.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CS_Oscill.Properties.Settings>
      <setting name="UserBackground" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="UserGrid" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="UserZeroLvl" serializeAs="String">
        <value>Aqua</value>
      </setting>
      <setting name="UserGraph" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="UserCursor1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="UserCursor2" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="UserSaved" serializeAs="String">
        <value>False</value>
      </setting>
    </CS_Oscill.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <CS_Oscill.Properties.Settings>
      <setting name="DarkBackground" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="DarkGrid" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="DarkZeroLvl" serializeAs="String">
        <value>Aqua</value>
      </setting>
      <setting name="DarkGraph" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="DarkCursor1" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="DarkCursor2" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="LightBackground" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="LightGrid" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="LightZeroLvl" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="LightGraph" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="LightCursor1" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="LightCursor2" serializeAs="String">
        <value>DarkGreen</value>
      </setting>
    </CS_Oscill.Properties.Settings>
  </applicationSettings>
</configuration>